In [1]:
import csv
with open('people.csv', 'r') as csvFile:
    reader = csv.reader(csvFile)
    for row in reader:
        print(row)
csvFile.close()

['SN, Name, City']
['1, John, Washington']
['2, Eric, Los Angeles']
['3, Brad, Texas']

In [2]:
import csv
with open('testcsv.txt', 'r') as csvFile:
    reader = csv.reader(csvFile)
    for row in reader:
        print(row)
csvFile.close()

['SN', ' Name', ' City']
['1', ' John', ' Washington']
['2', ' Eric', ' Los Angeles']
['3', ' Brad', ' Texas']

In [5]:
import csv
csv.register_dialect('myDialect', delimiter = '|')
with open('testcsv.txt', 'r') as f:
    reader = csv.reader(f, dialect='myDialect')
    for row in reader:
        print(row)

['pencil', 'eraser', 'sharpner']
['book', 'chair', 'table']
['apple', 'mango', 'grapes']

In [6]:
with open("test.txt",'w',encoding = 'utf-8') as f:
   f.write("my first file\n")
   f.write("This file\n\n")
   f.write("contains three lines\n")

In [9]:
f = open("test.txt",'r',encoding = 'utf-8')
f.read()
f.tell() 
f.seek(0)
f.read()

'my first file\nThis file\n\ncontains three lines\n'

In [13]:
import os

print(os.getcwd())

print(os.listdir())

os.rename('testDir1','testDir3')

C:\Users\Rajesh Kumar Gupta\Documents\GitProjects\PythonCodes
['.ipynb_checkpoints', 'DbOperation.py', 'people.csv', 'Python- File Operation.ipynb', 'Python-Simple Integer Commands.ipynb', 'Python-Simple String Commands.ipynb', 'PythonPorgTaskList.xlsx', 'Test.py', 'test.txt', 'testcsv - Copy.txt', 'testcsv.txt', 'testDir', 'testDir1', 'TestFile.html', '~$PythonPorgTaskList.xlsx']

In [6]:
# Read and Print Excel File data 

import pandas as pd
df = pd.read_excel(io='DataScienceProgTaskList.xlsx', sheet_name='Python')
print(df.head(5))  # print first 5 rows of the dataframe
pd.read_csv('people.csv')

    Topics Unnamed: 1 Unnamed: 2  Unnamed: 3 Comments
0      NaN        NaN        NaN         NaN      NaN
1  String        Read       Done         NaN      NaN
2      NaN        NaN        NaN         NaN      NaN
3      NaN        NaN        NaN         NaN      NaN
4  Integer       Read       Done         NaN      NaN

         SN, Name, City
0   1, John, Washington
1  2, Eric, Los Angeles
2        3, Brad, Texas

In [7]:
import pandas as pd
df = pd.read_excel(io='DataScienceProgTaskList.xlsx', sheet_name='Python')
print(df.head(5))  # print first 5 rows of the dataframe
pd.read_csv('people.csv')

    Topics Unnamed: 1 Unnamed: 2  Unnamed: 3 Comments
0      NaN        NaN        NaN         NaN      NaN
1  String        Read       Done         NaN      NaN
2      NaN        NaN        NaN         NaN      NaN
3      NaN        NaN        NaN         NaN      NaN
4  Integer       Read       Done         NaN      NaN

         SN, Name, City
0   1, John, Washington
1  2, Eric, Los Angeles
2        3, Brad, Texas